.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: $color-grey-dark;

  margin-bottom: 60px;

  &__item {
    padding-right: 38px;

    background: url('../img/icons/breadcrumbs.svg') top 5px right 16px / 6px no-repeat;
  }

  &__item:last-child {
    padding-right: 0;
    background: none;
  }
}

@include large-plus {
  .breadcrumbs {
    margin-bottom: 60px;
  }
}

@include large {
  .breadcrumbs {
    margin-bottom: 50px;
    font-size: 14px;

    &__item {
      background-size: 5px;
      // background-position: 5px right 16px;
    }
  }
}

@include medium {
  .breadcrumbs {
    margin-bottom: 30px;
    font-size: 8px;

    &__item {
      background-size: 4px;
      background-position: top 1px right 16px;
    }
  }
}
