@import url("normalize.css");
@import url("fonts.css");
@import url("global.css");

.article {
  padding-top: 60px;
  padding-bottom: 50px;
}

.article__title {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 900;
  line-height: 120%;
}

.article__paragraph {
  margin-bottom: 30px;
}

.article__paragraph:last-child {
  margin-bottom: 0px;
}

.article__paragraph--super-margin {
  margin-bottom: 50px;
}

.article__paragraph--margin-right {
  margin-right: 590px;
}

.article__section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.article__info {
  padding: 25px 45px;
  margin: 0 -30px 25px;
  background-color: #F1F1F1;
  border-radius: 10px;
}

.article__info-header {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
}

.article__index {
  margin: 0;
  padding-left: 25px;
}

.article__index-item:not(:last-child) {
  margin-bottom: 10px;
}

.article__index-link {
  color: #02535F;
  border-bottom: 1px solid #02535F;
}

.article__index--summary {
  margin-bottom: 30px;
  padding-left: 0;
}

.section--super-padding {
  padding-bottom: 50px;
}

.section__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
}

.section__figure {
  display: flow-root;
}

.section__figure:first-of-type {
  padding-bottom: 30px;
}

.section__img {
  margin-bottom: 30px;
}

.section__img:last-child {
  margin-bottom: 0;
}

.section__img--left {
  float: left;
  margin-right: 30px;
  margin-bottom: 0;
}

.section__img--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section__img--right {
  float: right;
  margin-bottom: 0;
}

.section__img--no-margin {
  display: block;
  margin-bottom: 0;
}

.section__figcaption {
  padding: 15px 30px;
  color: #5E5E5E;
  border: 1px solid #000000;
  border-top: none;
}
