html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #2d2d2d;
}

.page-crm {
  position: relative;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #25213B;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.btn {
  padding: 10px 15px;
  background-color: #6D5BD0;
  border: none;
  border-radius: 6px;

  font-size: 16px;
  line-height: 19px;
  font-weight: 600;

  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;

  transition:
    background-color 200ms ease-in;
}

.btn:hover {
  background-color: #9789df;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 42px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 34px;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 0 20px;
  }
}
