.promo {
  margin-bottom: 140px;
}

.promo__list {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 60px;

  font-size: 30px;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;

  counter-reset: mycount 0;
}

.promo__item--3 {
  grid-row: span 2;
}

.promo__item--4,
.promo__item--5,
.promo__item--6 {
  grid-column: span 2;
}

.promo__item--7 {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

.promo__item--8 {
  grid-row: span 2;
}

.promo__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  min-height: 228px;

  background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%);
  border-radius: 20px;
  overflow: hidden;
}

.promo__item:after {
  content: counter(mycount);
  counter-increment: mycount;
  position: absolute;
  top: 20px;
  right: 20px;
}

.promo__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.promo__discont:not(:empty) {
  width: 88px;
  height: 88px;
  padding: 24px 0;
  background-color: #FFBD13;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
}

.promo__item--1 b {
  font-size: 40px;
}

.promo__item--2 {
  font-weight: 700;
}

.promo__discont--two {
  align-self: flex-end;
  margin-top: 14px;
}

.promo__text--three {
  padding: 24px 20px;
  font-size: 40px;
  line-height: 120%;
  background-color: #38C0EB;
  border-radius: 20px;
}

.promo__text--three span {
  font-size: 56px;
  font-weight: 700;
  display: block;
}

.promo__text--four {
  max-width: 340px;
  font-size: 40px;
  font-weight: 700;
}

.promo__discont--five {
  margin-bottom: auto;
}

.promo__item--6 {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.promo__text--six {
  height: 88px;
  font-size: 40px;
  font-weight: 700;
  line-height: 88px;
}
.promo__text--seven {
  padding: 30px 40px;
  align-self: flex-start;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #F91155;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-transform: uppercase;
}


.promo__discont--eight {
  align-self: flex-end;
}

.promo__item--9 {
  flex-direction: column-reverse;
  font-weight: 700;
}

.promo__discont--nine {
  margin-bottom: 22px;
}

@media (max-width: 1400px) {
  .promo {
    margin-bottom: 100px;
  }

  .promo__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
  }

  .promo__item--3 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .promo__item--5 {
    grid-row: 2 / 3;
  }

  .promo__item--6 {
    grid-row: 4 / 5;
  }

  .promo__item--7 {
    grid-column: 1 / -1;
    grid-row: 5 / 7;
  }

  .promo__item--1 {
    font-size: 24px;
  }

  .promo__item--1 b {
    display: block;
    font-size: 30px;
  }

  .promo__item--2 {
    font-size: 24px;
  }

  .promo__discont--two {
    margin-top: 19px;
  }

  .promo__text--three {
    padding: 24px 25px 32px;
    font-size: 30px;
  }

  .promo__text--three span {
    font-size: 40px;
  }

  .promo__text--four {
    max-width: 255px;
    font-size: 30px;
  }

  .promo__text--six {
    font-size: 30px;
  }

  .promo__text--seven {
    padding: 23px 46px;
    font-size: 30px;
  }

  .promo__item--9 {
    padding: 10px 5px 19px;
    justify-content: space-between;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .promo {
    margin-bottom: 70px;
  }

  .promo__list {
    font-size: 16px;
    line-height: 110%;
  }

  .promo__item {
    min-height: 130px;
  }

  .promo__item--1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
  }

  .promo__item--1 b {
    font-size: 26px;
  }

  .promo__item--2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
  }

  .promo__text--three {
    padding: 12px 30px 20px;
    font-weight: 400;
    font-size: 16px;
  }

  .promo__text--three span {
    display: inline;
    font-size: 26px;
  }

  .promo__text--four {
    max-width: 136px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }

  .promo__text--six {
    height: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }

  .promo__text--seven {
    padding: 22px 33px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }

  .promo__item--9 {
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
  }

  .promo__discont:not(:empty) {
    width: 50px;
    height: 50px;
    padding: 17px 0;
    font-size: 16px;
  }

}

@media (max-width: 540px) {
  .promo {
    margin-bottom: 70px;
  }

  .promo__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .promo__item--3 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .promo__item--4 {
    grid-column: span 2;
  }

  .promo__item--5 {
    grid-column: span 2;
  }

  .promo__item--6 {
    grid-row: unset;
    grid-column: span 2;
  }

  .promo__item--7 {
    grid-row: 8;
  }

  .promo__item--1 {
    font-size: 12px;
  }

  .promo__item--1 b {
    font-size: 16px;
  }

  .promo__item--2 {
    font-size: 12px;
  }

  .promo__text--three {
    padding: 7px 25px 11px;
    font-size: 12px;
  }

  .promo__text--three span {
    font-size: 16px;
  }

  .promo__text--four {
    max-width: none;
    font-size: 12px;
  }

  .promo__text--six {
    font-size: 12px;
  }

  .promo__text--seven {
    padding: 7px 41px;
    font-size: 12px;
    align-self: unset;
    text-align: center;
  }

  .promo__item--9 {
    padding: 10px 5px;
    text-align: center;
  }
}
