.about__title {
  margin-bottom: 50px;
}

.about__text {
  margin-bottom: 70px;
}

.about p {
  margin-bottom: 28px;
}

.about__blockquote {
  position: relative;
  height: 230px;
  margin: 0;
  padding-left: 55px;
  font-size: 44px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.about__blockquote p {
  margin-bottom: 40px;
}

.about__blockquote:before,
.about__blockquote:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 19px;
  background: url("../img/quote.svg") no-repeat;
}

.about__blockquote:after {
  top: 57px;
  left: auto;
  right: 100px;
  transform: rotate(180deg);
}

.about__cite {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 380px;
  height: 85px;
  padding-left: 110px;

  background-image: url("../img/about-us-arkadiy-abakshin.png");
  background-size: 80px 80px;
  background-repeat: no-repeat;

  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  font-weight: 400;
  text-transform: none;
}
