.about__title {
  margin-bottom: 50px;
}

.about__text {
  padding-left: 680px;
  background: url("../img/about-us-photos.jpg") no-repeat;
}

.about p {
  margin-bottom: 28px;
}

.about__blockquote {
  position: relative;
  margin: 0;
  padding-left: 30px;
  font-size: 44px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.about__blockquote p {
  margin-bottom: 40px;
}

.about__blockquote:before,
.about__blockquote:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 19px;
  background: url("../img/quote.svg") no-repeat;
}

.about__blockquote:after {
  top: 157px;
  left: auto;
  right: 110px;
  transform: rotate(180deg);
}

.about__cite {
  display: block;
  padding-left: 200px;

  background-image: url("../img/about-us-arkadiy-abakshin.png");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: 90px 2px;

  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  font-weight: 400;
  text-transform: none;
}
