.form__fieldset {
  padding: 0;
  margin-bottom: 60px;
  border: none;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}

.form__legend {
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.form__legend--center {
  margin-bottom: 40px;
  text-align: center;
}

.form__fieldset--halls {
  display: flex;
  justify-content: space-between;
}

.form__label {
  font-size: 22px;
  line-height: 25px;
}

.form__small-text {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.form__label--hall {
  display: block;
  padding: 7px 15px;
  width: 250px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 8px;
  cursor: pointer;

  transition:
    color 300ms ease-in,
    background-color 300ms ease-in,
    border 200ms ease-out;
}

.form__label--hall:hover {
  background-color: var(--btn-form);
  border: 3px solid var(--main-dop);
}

.form__label--hall:active {
  color: #ffffff;
  background-color: var(--main-dark);
  border: 3px solid #ffffff;
}

.form__label--hall:focus {
  background-color: #ffffff;
  border: 3px solid var(--main-dop);
}

.form__radio--hall {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__label--radiocheck {
  position: relative;
  display: block;
  margin-bottom: 22px;
  padding-left: 37px;
}

.form__label--radiocheck:last-child {
  margin-bottom: 0;
}

.form__radiocheck {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -37px;
}

.form__radiocheck:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.form__radiocheck:focus:before {
  border: 1px solid var(--main-light);
}

.form__radiocheck:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  width: 16px;
  height: 8px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.form__radiocheck:focus-visible {
  outline: none
}

.form__radiocheck:checked:after {
  opacity: 1
}

.form__radiocheck:disabled:before {
  background-color: #cccccc;
}

.form__radiocheck--circle:before {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.form__radiocheck--circle:after {
  content: '';
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
  border: none;
  transform: none;
  opacity: 1;
}

.form__radiocheck--circle:checked:after {
  content: '●';
  font-size: 34px;
  line-height: 22px;
  text-align: center;
}

.form__radiocheck--circle:focus:before {
  border: none;
}

.form__radiocheck--circle:focus:after {
  outline: 1px solid var(--main-light);
}

.form__fieldset--game-set {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 0;
}

.form__fieldset--datetime {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 40px;
}

.form__fieldset--select {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-content: space-between; */
  gap: 43px 32px;
  width: 300px;
  padding-top: 25px;
  margin-bottom: 0;
}

.form__fieldset--name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px ;
  margin-bottom: 0;
  width: 280px;
}

.form__fieldset--contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px ;
  margin-bottom: 0;
  width: 300px;
  padding: 0;
}

.form__label--select {
  flex: 1 1 100px;
  position: relative;
  display: block;
  height: 52px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 28px;
  background-color: #fff;
  color: #211E1E;
  cursor: pointer;
}

.form__text {
  width: 100%;
  height: 52px;
  padding: 0 15px;
}

.form__text:focus {
  border: 2px solid var(--main-light);
  outline: none;
}

.form__text--select {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__label--select:after {
  content: '';
  position: absolute;
  top: 19px;
  right: 18px;
  display: block;
  width: 21px;
  height: 15px;
  background: url("../img/datetime-arrow.svg") no-repeat;
}

.form__fieldset--btn {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 100px;
}

.form__btn {
  width: 300px;
  height: 60px;
  padding: 16px 50px;

  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  background-color: #fff;
  color: var(--main-dark);
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px #fff;

  transition:
    background-color 200ms ease-in,
    border 100ms ease-out;
}

.form__btn:hover {
  background-color: var(--btn-form);
  border: 3px solid var(--main-dark);
}

.form__btn:active {
  background-color: var(--btn-form);
  border: 3px solid var(--btn-form);
}

.form__btn:focus {
  background-color: #FFFFFF;
  border: 3px solid var(--main-dark);
}

@media (max-width: 1440px) {
  .form__legend--center {
    margin-bottom: 26px;
  }

  .form__label--hall {
    padding: 10px 20px;
    width: 180px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 6px;
  }

  .form__fieldset--game-set {
    padding: 0;
  }

  .form__fieldset--datetime {
    padding: 0;
    margin-bottom: 50px;
  }

  .form__fieldset--select {
    gap: 36px 32px;
  }

  .form__fieldset--name {
    gap: 14px;
    width: 250px;
  }

  .form__fieldset--contacts {
    gap: 14px;
    width: 250px;
  }

  .form__fieldset--btn {
    padding: 0;
  }

  .form__btn {
    width: 250px;
    height: 50px;
    padding: 13px 45px;

    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1152px) {
  .form__legend--center {
    margin-bottom: 30px;
  }

  .form__fieldset {
    margin-bottom: 0;
  }

  .form__fieldset--halls {
    margin-bottom: 50px;
  }

  .form__label--hall {
    padding: 9px 18px;
    width: 150px;
    font-size: 16px;
    line-height: 20px;
  }

  .form__fieldset--game-set {
    flex-wrap: wrap;
    gap: 32px 65px;
    margin-bottom: 50px;
    padding: 0;
  }

  .form__radiocheck {
    margin-left: -60px;
  }

  .form__radiocheck:before {
    width: 40px;
    height: 40px;
  }

  .form__radiocheck:after {
    top: 11px;
    left: 8px;
    width: 24px;
    height: 12px;
    border: 5px solid black;
    border-top: none;
    border-right: none;
  }

  .form__label--radiocheck {
    margin-bottom: 20px;
    padding-left: 60px;
    line-height: 40px;
  }

  .form__radiocheck--circle:before {
    width: 40px;
    height: 40px;
  }

  .form__radiocheck--circle:after {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: none;
    transform: none;
    opacity: 1;
  }

  .form__radiocheck--circle:checked:after {
    content: '●';
    font-size: 46px;
    line-height: 34px;
  }

  .form__fieldset--datetime {
    flex-wrap: wrap;
    gap: 42px;
    margin-bottom: 48px;
  }

  .form__fieldset--select {
    gap: 12px;
    width: 100%;
  }

  .form__label--select {
    flex: none;
    width: 134px;
  }

  .form__label--select:last-child {
    width: 300px;
    margin-left: auto;
  }

  .form__fieldset--name {
    width: 280px;
  }

  .form__fieldset--contacts {
    width: 300px;
  }

  .form__btn {
    width: 300px;
    height: 60px;
    padding: 16px 50px;

    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .form__legend {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .form__legend--center {
    margin-bottom: 15px;
  }

  .form__fieldset {
    width: 100%;
    margin-bottom: 0;
  }

  .form__fieldset--halls {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px 20px;
    margin-bottom: 30px;
  }

  .form__label--hall {
    flex: 1 1 40%;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 18px;
    border: none;
  }

  .form__label--hall:hover,
  .form__label--hall:active,
  .form__label--hall:focus {
    border: none;
  }

  .form__fieldset--game-set {
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
  }

  .form__radiocheck {
    margin-left: -50px;
  }

  .form__radiocheck:before {
    width: 30px;
    height: 30px;
  }

  .form__radiocheck:after {
    top: 8px;
    left: 6px;
    width: 20px;
    height: 10px;
    border: 4px solid black;
    border-top: none;
    border-right: none;
  }

  .form__label--radiocheck {
    margin-bottom: 15px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 30px;
  }

  .form__radiocheck--circle:before {
    width: 30px;
    height: 30px;
  }

  .form__radiocheck--circle:after {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: none;
    transform: none;
    opacity: 1;
  }

  .form__radiocheck--circle:checked:after {
    content: '●';
    font-size: 36px;
    line-height: 26px;
  }

  .form__fieldset--datetime {
    gap: 35px;
    margin-bottom: 35px;
  }

  .form__fieldset--select {
    gap: 15px 12px;
    padding-top: 10px;
  }

  .form__label--select {
    flex-grow: 1;
  }

  .form__fieldset--name {
    width: 100%;
  }

  .form__label--small {
    width: 100%;
  }

  .form__fieldset--contacts {
    width: 100%;
  }

  .form__btn {
    width: 100%;
    height: 60px;

    font-size: 18px;
    line-height: 26px;
  }
}
