.halls {
  margin-bottom: 50px;
}

.halls__title {
  margin-bottom: 40px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.halls__list-item {
  flex-basis: 580px;
  height: 349px;
  padding: 94px 160px;

  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-repeat: no-repeat;
  background-size: contain;
}

.halls__list-item--80s-vibes {
  background-image: url("../img/our-halls-80s-vibes.jpg");
}

.halls__list-item--star-wars {
  background-image: url("../img/our-halls-star-wars.jpg");
}

.halls__list-item--wild-west {
  background-image: url("../img/our-halls-wild-west.jpg");
}

.halls__list-item--neon-style {
  background-image: url("../img/our-halls-neon-style.jpg");
}

@media (max-width: 1440px) {
  .halls {
    margin-bottom: 30px;
  }

  .halls__title {
    margin-bottom: 36px;
  }

  .halls__list-item {
    flex-basis: 442px;
    height: 265px;
    padding: 72px 90px;

    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 1152px) {
  .halls__list-item {
    flex-basis: 334px;
    height: 200px;
    padding: 61px 90px 0;

    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .halls {
    margin-bottom: 15px;
  }

  .halls__title {
    margin-bottom: 15px;
  }

  .halls__list {
    gap: 10px;
  }

  .halls__list-item {
    flex-basis: 280px;
    height: 168px;
    padding: 50px 90px;

    font-size: 26px;
    line-height: 36px;
  }
}
