.header {
  height: 1020px;
  padding-top: 146px;
}

.header__container {
  position: relative;
  height: 100%;
}

.header__container:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 130px;
  width: 100%;
  height: 100%;
  background-image: url("../img/man-with-vr.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 1;
}
