.header {
  padding-top: 30px;
}

.header__container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 150px;
}

.header__nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-bottom: 50px;
}

.header__nav--margin-60 {
  margin-bottom: 60px;
}

.header__nav-btn {
  display: none;
}

.header__logo-link {
  display: block;
  width: 120px;
  height: 66px;
  margin-right: 76px;
}

.header__nav-list {
  display: flex;
  height: 50px;
  margin-right: auto;
}

.header__nav-link {
  display: block;
  padding: 0 20px;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;

  transition: color 200ms linear;
}

.header__nav-link:hover {
  color: var(--main-light);
}

.header__nav-link:active {
  color: var(--main-dark);
}

.header__nav-link:focus {
  outline: 1px solid var(--main-light);
}

.header__btn {
  padding: 12px 32px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 3px solid var(--main-light);
  border-radius: 10px;

  transition:
    background-color 200ms linear,
    border 100ms ease-out;
}

.header__btn:hover {
  background-color: var(--main-dark);
  border: 3px solid var(--main-dark);
}

.header__btn:active {
  background-color: var(--main-dop);
  border: 1px solid #000000;
}

.header__btn:focus {
  background-color: var(--main-dark);
}

.header__scroll {
  display: block;
  position: absolute;
  bottom: 90px;
  right: 674px;
  width: 97px;
  height: 97px;
  background-color: transparent;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  cursor: pointer;
  border: none;
  outline: none;

  transition:
    background-image 300ms ease-in,
    border 200ms ease-out;
}

.header__scroll:hover {
  background-image: url("../img/arrow-down-hover.svg");
}

.header__scroll:active {
  background-image: url("../img/arrow-down-active.svg");
}

.header__scroll:focus {
  border: 1px solid var(--main-light);
}

.header__container:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 130px;
  width: 675px;
  height: 82%;
  background-image: url("../img/man-with-vr.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

@media (max-width: 1440px) {
  .header__container {
    padding-bottom: 60px;
  }

  .header__nav {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .header__logo-link {
    width: 87px;
    height: 55px;
    margin-right: 0;
  }

  .header__nav-list {
    margin-right: 0;
  }

  .header__nav-link {
    padding: 0 10px;
    font-size: 18px;
  }

  .header__btn {
    padding: 10px 26px;
    font-size: 18px;
    line-height: 24px;
  }

  .header__scroll {
    bottom: 46px;
    right: 479px;
    width: 67px;
    height: 67px;
  }

  .header__container:after {
    right: 60px;
    width: 453px;
    height: 82%;
  }
}

@media (max-width: 1152px) {
  .header {
    padding-bottom: 40px;
  }

  .header__container {
    padding-bottom: 84px;
  }

  .header__nav-btn {
    display: block;
    width: 54px;
    height: 54px;
    background: url(../img/menu.svg) left center no-repeat;
    background-size: contain;
    border: none;
    outline: none;

    transition:
      background-image 150ms ease-in,
      background-size 150ms ease-in;
  }

  .header__nav-btn--close {
    background: url(../img/menu-close.svg) center no-repeat;
    background-size: 36px;
  }

  /* .header__nav-btn:hover,
  .header__nav-btn:active,
  .header__nav-btn:focus {
    background: url(../img/menu-close.svg) center no-repeat;
    background-size: 36px;
  } */

  /* .header__nav-btn:focus {
    border: 1px solid var(--main-light);
  } */

  .header__nav-list {
    position: absolute;
    top: 75px;
    display: block;
    height: auto;
    margin-right: 0;
    padding: 40px 0;
    width: calc(100% - 80px);
    z-index: 2;
    background-color: #1B1A1B;

    visibility: hidden;
    transform: scale(0);
  }

  .header__nav-list--open {
    visibility: visible;
  }

  .header__nav-link {
    padding: 17px 0;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
  }

  .header__scroll {
    display: none;
  }

  .header__container:after {
    right: 40px;
    width: 409px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 23px;
  }

  .header__container {
    padding-bottom: 23px;
  }

  .header__nav {
    margin-bottom: 20px;
  }

  .header__logo-link {
    width: 66px;
    height: 42px;
  }

  .header__nav-list {
    top: 50px;
    padding: 25px 0;
    width: calc(100% - 40px);
  }

  .header__nav-link {
    padding: 13px 0;
    font-size: 14px;
  }

  .header__nav-item:last-child {
    padding-top: 25px;
    text-align: center;
  }

  .header__btn {
    display: none;
    padding: 11px 23px;
    font-size: 14px;
    line-height: 14px;
    border: 2px solid var(--main-light);
    border-radius: 6px;
  }

  .header__nav-btn {
    width: 42px;
    height: 42px;
    background-size: contain;
  }

  .header__container:after {
    right: 20px;
    width: 50%;
  }
}
