.page__title {
  margin: 0;
  font-size: 150px;
  line-height: 150px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -15px;
}

.page__subtitle {
  font-size: 28px;
  line-height: 50px;
  font-weight: 400;
  padding-left: 100px;
  margin-bottom: 30px;
}

.page__info {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 150px;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.page__text-themes {
  width: 193px;
}

.page__text-4 {
  display: block;
  font-size: 100px;
  line-height: 141px;
  font-weight: 900;
  color: #CD06FF;
}


.page__text-equipment {
  width: 166px;
}

.page__text-new{
  display: block;
  font-size: 75px;
  line-height: 106px;
  font-weight: 900;
  font-variant: small-caps;
  color: #CD06FF;
}

.page__button {
  padding: 25px 69px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #6C0287;
  border: none;
  border-radius: 10px;

  transition: background-color 200ms ease-in-out;
}

.page__button:hover {
  background-color: #840AA3;
}

.page__button:active {
  /* background-color: #640AA3; */
  background-color: #8f4747;
}

.page__button:focus {
  background-color: #840AA3;
  outline: none;
}
