.page__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  padding: 0;

  background: url(../img/80-s-vibes.jpg) center no-repeat;
  background-size: cover;
}

.page__title {
  margin: 0;
  font-size: 150px;
  line-height: 150px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -15px;
}

.page__title--hall {
  font-size: 90px;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
  letter-spacing: normal;
}

.page__subtitle {
  margin-bottom: 30px;
  padding-left: 100px;

  font-size: 28px;
  line-height: 50px;
  font-weight: 400;
}

.page__info {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 150px;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.page__text-themes {
  width: 193px;
}

.page__text-4 {
  display: block;
  font-size: 100px;
  line-height: 141px;
  font-weight: 900;
  color: var(--main-light);
}

.page__text-equipment {
  width: 166px;
}

.page__text-new {
  display: block;
  font-size: 75px;
  line-height: 106px;
  font-weight: 900;
  font-variant: small-caps;
  color: var(--main-light);
}

.page__button {
  padding: 25px 69px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--main-dark);
  border: none;
  border-radius: 10px;

  transition: background-color 200ms ease-in-out;
}

.page__button:hover {
  background-color: var(--btn-action);
}

.page__button:active {
  background-color: var(--main-dop);
}

.page__button:focus {
  background-color: var(--btn-action);
  outline: none;
}

.page__link-back {
  display: block;
  margin-bottom: 20px;
  padding-left: 40px;

  font-size: 22px;
  line-height: 28px;
  font-weight: 700;

  background: url(../img/back.svg) left center no-repeat;
}

@media (max-width: 1440px) {
  .page__wrapper {
    height: 534px;
  }

  .page__title {
    margin-bottom: 20px;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.1em;
  }

  .page__title--hall {
    margin: 0;
    font-size: 90px;
    line-height: 80px;
    letter-spacing: normal;
  }

  .page__subtitle {
    font-size: 22px;
    line-height: 30px;
  }

  .page__info {
    margin-bottom: 80px;
    font-size: 26px;
    line-height: 30px;
  }

  .page__text-themes {
    width: 170px;
  }

  .page__text-4 {
    font-size: 80px;
    line-height: 113px;
  }

  .page__text-equipment {
    width: 140px;
  }

  .page__text-new {
    font-size: 60px;
    line-height: 85px;
  }

  .page__button {
    margin-left: 40px;
    padding: 17px 48px;
    font-size: 22px;
  }
}

@media (max-width: 1152px) {
  .page__wrapper {
    height: 402px;
  }

  .page__title {
    font-size: 86px;
  }

  .page__title--hall {
    font-size: 60px;
  }

  .page__subtitle {
    margin-bottom: 50px;
    padding-left: 70px;
    font-size: 18px;
    line-height: 24px;
  }

  .page__info {
    margin-bottom: 100px;
    gap: 30px;
    font-size: 16px;
    line-height: 18px;
  }

  .page__text-themes {
    width: 105px;
  }

  .page__text-4 {
    font-size: 50px;
    line-height: 71px;
  }

  .page__text-equipment {
    width: 90px;
  }

  .page__text-new {
    font-size: 40px;
    line-height: 56px;
  }

  .page__button {
    margin-left: 0;
    padding: 11px 35px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .page__wrapper {
    height: 168px;
  }

  .page__title {
    margin-bottom: 6px;
    font-size: 35px;
    letter-spacing: -0.08em;
  }

  .page__title--hall {
    font-size: 30px;
  }

  .page__subtitle {
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 10px;
    line-height: 14px;
  }

  .page__info {
    margin-bottom: 30px;
    gap: 20px;
    font-size: 10px;
    line-height: 11px;
  }

  .page__text-themes {
    width: 65px;
  }

  .page__text-4 {
    font-size: 26px;
    line-height: 37px;
  }

  .page__text-equipment {
    width: 55px;
  }

  .page__text-new {
    font-size: 22px;
    line-height: 31px;
  }

  .page__button {
    padding: 7px 13px;
    font-size: 10px;
    line-height: 12px;
  }

  .page__link-back {
    margin-bottom: 15px;
    padding-left: 22px;

    font-size: 12px;
    line-height: 16px;
    background-size: 16px auto;
  }
}
