.reservation {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--bg);
}

.reservation__title {
  margin-bottom: 40px;
}

@media (max-width: 1440px) {
  .reservation {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .reservation__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 1152px) {
  .reservation {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reservation__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .reservation {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reservation__title {
    margin-bottom: 13px;
  }
}
