.services {
  padding-bottom: 120px;
}

.services__title {
  width: 780px;
  margin: 0 auto 40px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.services__item {
  flex-basis: 380px;

  transition: transform 300ms linear;
}

.services__item:hover {
  transform: scale(1.1);
}

.services__item:nth-child(3n-1) {
  transform: translateY(70px);

}

.services__figure {
  position: relative;
}

.services__name {
  position: absolute;
  top: 166px;
  left: 40px;
  width: 300px;
  font-weight: 700;
}
