.social__list {
  display: flex;
  height: 50px;
}

.social__item {
  width: 50px;
  margin-right: 26px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  color: #FFFFFF;
  text-decoration: none;
}
