.social__list {
  display: flex;
  height: 50px;
}

.social__item {
  width: 50px;
  margin-right: 26px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  height: 50px;
  color: #FFFFFF;
  text-decoration: none;

  transition: color 400ms ease-out;
}

.social__link:hover {
  color: #EADEED;
}

.social__link:active {
  color: var(--main-light);
}

.social__link:focus {
  color: #EADEED;
  outline: 1px solid var(--main-light);
}
