.testimonials__title {
  margin-bottom: 40px;
}

.testimonials__list {
  padding: 0 100px;
}

.response {
  display: flex;
  margin-bottom: 50px;
}

.response:last-child {
  margin-bottom: 0;
}

.response__photo {
  flex: 0 0 280px;
  position: relative;
  margin-right: 20px;
  text-align: center;
}

.response__photo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 140px;
}

.response__img {
  width: 280px;
  height: 280px;
  margin-bottom: 11px;
  border-radius: 50%;
}

.response__text {
  padding-top: 50px;
}

@media (max-width: 1440px) {
  .testimonials__title {
    margin-bottom: 26px;
  }

  .response {
    margin-bottom: 40px;
  }

  .response__photo {
    flex: 0 0 172px;
    margin-right: 38px;
  }

  .response__photo:after {
    height: 172px;
  }

  .response__img {
    width: 172px;
    height: 172px;
    margin-bottom: 21px;
  }

  .response__text {
    padding-top: 33px;
  }
}

@media (max-width: 1152px) {
  .testimonials__title {
    margin-bottom: 31px;
  }

  .testimonials__list {
    padding: 0 63px;
  }

  .response {
    margin-bottom: 30px;
  }

  .response__photo {
    flex: 0 0 153px;
    margin-right: 15px;
  }

  .response__photo:after {
    height: 153px;
  }

  .response__img {
    width: 153px;
    height: 153px;
    margin-bottom: 17px;
  }

  .response__name {
    font-size: 14px;
    line-height: 20px;
  }

  .response__text {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .testimonials__title {
    margin-bottom: 15px;
  }

  .testimonials__list {
    padding: 0;
  }

  .response {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .response__photo {
    flex: none;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .response__photo:after {
    left: calc(50% - 43px);
    width: 86px;
    height: 86px;
  }

  .response__img {
    width: 86px;
    height: 86px;
    margin-bottom: 9px;
  }

  .response__text {
    padding: 0;

    font-size: 12px;
    line-height: 16px;
  }
}
