.breadcrumbs {
  display: flex;

  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #525252;

  margin-bottom: 80px;
}

.breadcrumbs__item {
  padding-right: 38px;

  background: url('../img/icons/breadcrumbs.svg') top 5px right 16px / 6px no-repeat;
}

.breadcrumbs__item:last-child {
  padding-right: 0;
  background: none;
}

@media (max-width: 1152px) {
  .breadcrumbs {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    margin-bottom: 40px;
  }
}

@media (max-width: 540px) {
  .breadcrumbs {
    margin-bottom: 30px;
  }
}
